@model TrainSeatReservation.Commons.Dto.RouteDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>
<div class="admin-table">
    <div>
        <h4>Route</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Train)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Train.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    </div>
    <div class="back">
        <a asp-action="Index">Powrót</a>
    </div>
</div>
