@*@model IEnumerable<TrainSeatReservation.Commons.Dto.CarriageDto>*@
@model TrainSeatReservation.Areas.Administration.Models.CarriageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wagony</h1>

<p class="add">
    <a asp-action="Create"><i class="fas fa-plus"></i> Dodaj</a>
</p>
@{
    var carriage = Model.PaginatedCarriages().First();
}
<div class="admin-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => carriage.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => carriage.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => carriage.CarriageClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => carriage.EletricalOutlet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => carriage.CateringCar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => carriage.BicyclePlace)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaginatedCarriages())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarriageClass.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EletricalOutlet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateringCar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BicyclePlace)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>

        }
    </ul>
</div>
