@model TrainSeatReservation.Areas.Administration.Models.ResignedTicketViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Anulowane bilety</h1>

<div>
    @{
        var ticket = Model.PaginatedTickets().First();
    }


</div>
<div class="admin-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => ticket.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => ticket.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => ticket.TripDate)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => ticket.DepartureStation)
                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(model => ticket.ArrivalStation)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaginatedTickets())
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureStation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTrainStation.TrainTimeTable.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalStation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTrainStation.TrainTimeTable.ArrivalTime)
                </td>

            </tr>
            }

        </tbody>
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>

        }
    </ul>
</div>