@model List<TrainSeatReservation.Commons.Dto.TrainDto>

@{
    ViewData["Title"] = "Reserve Seats";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{
       int i = 0;
    }
    @using (Html.BeginForm("PersonalData", "SearchingList", FormMethod.Post))
    {
        <div class="optional-items">
            <div class="row">
                @if (ViewBag.Transits == 0)
                {
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseSeatsModal_0">Wybierz</button>
                    </div>

                    <div class="col-6">
                        <p>Wybierz miejsce ze schematu</p>
                    </div>
                    <div id="seatsDiv_0" style="display:none" class="col-12">

                    </div>
                }
                else
                {
                @for (i = 0; i <= ViewBag.Transits; i++)
                {
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseSeatsModal_@i">Wybierz</button>
                    </div>
                    <div class="col-6">
                        <p>Wybierz miejsce ze schematu dla @(i + 1). trasy </p>
                    </div>
                    <div id="seatsDiv_@i" style="display:none" class="col-12">

                    </div>
                }
                }

            </div>
          <!--  <div class="row">
                <div class="col-6">
                    <input type="checkbox" id="allowInformation" name="allowInformation" />
                </div>
                <div class="col-6">
                    <p>Zezwól na informacje SMS</p>
                </div>

            </div>-->
            <div class="row">
                <div class="col-12">
                    <div class="next-button">
                        @Html.Hidden("carriageId")
                        @Html.Hidden("seats")
                        @Html.Hidden("allow")
                        <button type="submit" id="submitButton">Przejdź dalej</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@for (i = 0; i < Model.Count; i++)
{
    <div class="modal fade" id="chooseSeatsModal_@i" tabindex="-1" role="dialog" aria-labelledby="chooseSeatsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chooseSeatsModalLabel">Wybierz miejsce</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body" style="min-height: 600px">
                    <div id="carouselExampleControls_@i" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            @{
                                var first = true;
                            }
                            @foreach (var item in Model[i].TrainCarriages)
                            {
                                <div class="carousel-item @(first ? Html.Raw("active") : Html.Raw(""))">
                                    <div class="row">
                                        <div class="col-sm-12"><p>Wagon: @item.Carriage.Number </p></div>
                                        <div class="col-sm-12">Wybrane miejsca:  <input id="seats" value=""></div>
                                        <div class="col-sm-12">

                                            @if (item.Carriage.TypeId == 6) //bezprzedziałowy
                                            {
                                                <div class="window direction col-12">
                                                    @foreach (var seat in item.Carriage.Seats)
                                                    {
                                                        @if (seat.SeatTypeId == 9 && seat.IsTravelDirection)
                                                        {
                                                            <button class='seat @(seat.IsFree ? "available" : "reserved disabled") direction window' value="@seat.Number">
                                                                @seat.Number
                                                            </button>
                                                        }

                                                    }
                                                </div>
                                                <div class="corridor direction col-12">
                                                    @foreach (var seat in item.Carriage.Seats)
                                                    {
                                                        @if (seat.SeatTypeId == 10 && seat.IsTravelDirection)
                                                        {
                                                            <button class='seat @(seat.IsFree ? "available" : "reserved disabled") direction corridor' value="@seat.Number">
                                                                @seat.Number
                                                            </button>
                                                        }
                                                    }
                                                </div>
                                                <div class="corridor nonDirection col-12">
                                                    @foreach (var seat in item.Carriage.Seats)
                                                    {
                                                        @if (seat.SeatTypeId == 10 && !(seat.IsTravelDirection))
                                                        {
                                                            <button class='seat @(seat.IsFree ? "available" : "reserved disabled") nonDirection corridor' value="@seat.Number">
                                                                @seat.Number
                                                            </button>
                                                        }
                                                    }
                                                </div>


                                                <div class="window nonDirection col-12">
                                                    @foreach (var seat in item.Carriage.Seats)
                                                    {
                                                        @if (seat.SeatTypeId == 9 && !(seat.IsTravelDirection))
                                                        {
                                                            <button class='seat @(seat.IsFree ? "available" : "reserved disabled") nonDirection window' value="@seat.Number">
                                                                @seat.Number
                                                            </button>
                                                        }
                                                    }
                                                </div>


                                            }
                                            else //przedziałowy
                                            {
                                                var counter = 0;
                                                <div class="compartment">
                                                    <div class="compartment-inside">
                                                        @foreach (var seat in item.Carriage.Seats)
                                                        {
                                                            if (seat.Number < 20)
                                                            {
                                                                if (counter % 3 == 0)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-window' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else if (counter % 3 == 2)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-corridor' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-middle' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }

                                                                counter++;
                                                            }
                                                            else continue;
                                                        }
                                                    </div>
                                                </div>

                                                <div class="compartment">
                                                    <div class="compartment-inside">
                                                        @foreach (var seat in item.Carriage.Seats)
                                                        {
                                                            if (seat.Number < 30 && seat.Number >= 20)
                                                            {
                                                                if (counter % 3 == 0)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-window' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else if (counter % 3 == 2)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-corridor' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-middle' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }

                                                                counter++;
                                                            }
                                                            else continue;
                                                        }
                                                    </div>
                                                </div>
                                                <div class="compartment">
                                                    <div class="compartment-inside">
                                                        @foreach (var seat in item.Carriage.Seats)
                                                        {
                                                            if (seat.Number < 40 && seat.Number >= 30)
                                                            {
                                                                if (counter % 3 == 0)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-window' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else if (counter % 3 == 2)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-corridor' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-middle' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }

                                                                counter++;
                                                            }
                                                            else continue;
                                                        }
                                                    </div>
                                                </div>
                                                <div class="compartment">
                                                    <div class="compartment-inside">
                                                        @foreach (var seat in item.Carriage.Seats)
                                                        {
                                                            if (seat.Number < 50 && seat.Number >= 40)
                                                            {
                                                                if (counter % 3 == 0)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-window' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else if (counter % 3 == 2)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-corridor' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-middle' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }

                                                                counter++;
                                                            }
                                                            else continue;
                                                        }
                                                    </div>
                                                </div>

                                                <div class="compartment">
                                                    <div class="compartment-inside">
                                                        @foreach (var seat in item.Carriage.Seats)
                                                        {
                                                            if (seat.Number < 60 && seat.Number >= 50)
                                                            {
                                                                if (counter % 3 == 0)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-window' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else if (counter % 3 == 2)
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-corridor' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class='seat @(seat.IsFree ? "available" : "reserved disabled") compartment-middle' value="@seat.Number">
                                                                        @seat.Number
                                                                    </button>
                                                                }

                                                                counter++;
                                                            }
                                                            else continue;
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                                first = false;

                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls_@i" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls_@i" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="modal-button" id="submitModalButton_@i">Zatwierdź</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var c = @ViewBag.SeatsCount;
        var count = @i;
        let counter = 0;
            $('.nxt').click(function () {

            $(this).parent(".carriage").animate({ left: '-150%' }, 500);
            $(this).parent(".carriage").next(".carriage").animate({ left: '50%' }, 500);
        });
        $('.prv').click(function () {

            $(this).parent(".carriage").animate({ left: '150%' }, 500);
            $(this).parent(".carriage").prev(".carriage").animate({ left: '50%' }, 500);
        });

        function removeSeat(seatListElm, seatValue) {
            var arr = seatListElm.value.split(',');

            var p = arr.indexOf(seatValue);
            if (p != -1) {
                arr.splice(p, 1);
                seatListElm.value = arr.join(',');
            }
            counter--;
        }

        function checkListCount(seatListElm) {
            var arr = seatListElm.value.split(',');
            if (arr.length < c) {
                return true;
            }
            else return false;
        }
        //add seat to list
        function addSeat(seatListElm, seatValue) {
            var arr = seatListElm.value.split(',');
           // if (arr.length < c) {
                if (arr.join() == '') { arr = []; }
                //console.log(seatValue);
                var p = arr.indexOf(seatValue);
                if (p == -1) {
                    arr.push(seatValue); //append
                    arr = arr.sort(); //sort list
                    seatListElm.value = arr.join(',');
                }
                counter++;
          //  }
        //    else { alert("za duzo");}

        }
        $('.carousel-control-prev').click(function () {
            var activecarriage = document.querySelector(".active  input:first-of-type");
            activecarriage.value = "";
            $(".seat").each(function () {
                if (this.classList.contains('selected')) {
                    this.classList.remove('selected');
                }
            });
            counter = 0;
        });
        $('.carousel-control-next').click(function () {
            var activecarriage = document.querySelector(".active  input:first-of-type");
            activecarriage.value = "";
            $(".seat").each(function () {
                if (this.classList.contains('selected')) {
                    this.classList.remove('selected');
                }
            });
            counter = 0;
        });
        function removeItems() {
            var activecarriage = document.querySelector(".active  input:first-of-type");
            activecarriage.value = "";
        }
        //called everytime a seat is clicked
        function seatClick(seat) {
            seat = (this instanceof HTMLButtonElement) ? this : seat;
            var firstSelected;
            var selectedSeats = [];
            var thisInputHasAlreadyBeenSeen = false;
            var confirmedSeats = [];

            var activecarriage = document.querySelector(".active  input:first-of-type");//document.getElementsByTagName('div').getElementsByClassName('active');//.getElementsByTagName('input');//[0];

                if (seat.classList.contains('reserved') == false) {
                    //if (checkListCount(activecarriage) && seat.classList.contains('selected') == false) {
                    if (seat.classList.contains('selected') == false) {
                        if (counter < c) {
                            addSeat(activecarriage, seat.value);
                            seat.classList.add('selected');
                        } else { alert("Wybrano maksymalną liczbę miejsc!");}

                    } else {
                        removeSeat(activecarriage, seat.value);
                        seat.classList.remove('selected');
                    }
                    //   }
                    // else if (!checkListCount(activecarriage)) { alert("duzo za duzo");}

                } else {
                    alert("This seat is reserved!\nPlease select another seat");
                    removeSeat(activecarriage, seat.value);
                    return;
                }


        }


        //adding event click to seats
        var elms = document.getElementsByClassName('seat');
        for (var i = 0, l = elms.length; i < l; i++) {
            elms[i].onclick = seatClick;
        }
        for (let j = 0; j < @Model.Count; j++) {
            console.log(j);
            $("#submitModalButton_"+j).click(function () {
                alert(j);
                var div = document.getElementById("seatsDiv_"+j);
                alert(div);
                // alert("Div");
                var activecarriageSeats = document.querySelector(".active  input:first-of-type").value;
                // alert(activecarriageSeats);
                var paragrahpCarriage = document.querySelector(".active  p:first-of-type").innerHTML;
                // console.log(paragrahpCarriage);
                var activeCarriageNumber = paragrahpCarriage.split(' ')[1];

                if (div.style.display === "none") {
                    div.style.display = "block";
                }
                if (counter != c)
                    alert("Nie wybrano wszystkich siedzeń. Mogą zostać wybrane losowo");
                // $("#disountsDiv span").append(discountType1);
                //  $("#disountsDiv span").append(discountCount1);


                //$("#disountsDiv").append('<input name"firstDiscountTypeName" id="firstDiscountTypeName" value="' + discountType1 + '" readonly />');
                //$("#disountsDiv").append('<input name"firstDiscountCount" id="firstDiscountCount" value="' + discountCount1 + '" readonly />');
                $("#seatsDiv_" + j)
                    .html('<p>Wybrane miejsca: Wagon numer</p><input name"carriageInput" id="carriageInput" value = "' + activeCarriageNumber + '" readonly /><p>Numery siedzeń: </p><input name"seatsInput" id="seatsInput" value = "' + activecarriageSeats + '" readonly />');

                $('#carriageId').val(activeCarriageNumber);
                console.log(activeCarriageNumber);
                $('#seats').val(activecarriageSeats);
                console.log($('#seats').val());
                console.log($('#carriageId').val());
                $('#chooseSeatsModal_' + j).modal('hide');

                counter = 0;
            });
        }
       
        $("#submitButton").click(function () {
            $('#carriageId').val($('#carriageInput').val());
            $('#seats').val($('#seatsInput').val());
            var allow = $("#allowInformation").prop("checked") ;
            alert(allow);
            $('#allow').val(allow);

        });
    });
</script>