@model TrainSeatReservation.Commons.Dto.TicketDto

@{
    ViewData["Title"] = "Reserve Seats";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<form asp-action="AddPassengers" method="post">
    <div style="margin: 20px">
        @Html.HiddenFor(x => x.ArrivalTrainStationId)
        @Html.HiddenFor(x => x.DepartureTrainStationId)
        @Html.HiddenFor(x => x.ArrivalTrainStation)
        @Html.HiddenFor(x => x.DepartureTrainStation)
        @Html.HiddenFor(x => x.TripDate)
        <h2>Dostępność miejsc: @ViewBag.FreeSeats %</h2>
        <div class="choose-seat">
            <label class="control-label">Ilość biletów normalnych</label>
            <input type="number" min="0" id="normalPriceTickets" value="0" name="normalPriceTickets" />
        </div>
        <div class="choose-seat" id="firstDiscountPrice" style="display:none">
            <label class="control-label">Ilość biletów ulgowych</label>
            <input type="number" min="0" value="0" id="firstDiscountTickets" name="firstDiscountTickets" />
            <div class="discount-type">
                @Html.DropDownList("firstDiscountType", (List<SelectListItem>)ViewBag.Discount,
          "Rodzaj zniżki", new { @class = "form-control", @id = "firstDiscountType" })
            </div>
            <div class="choose-seat" id="secondDiscountPrice" style="display:none">
                <label class="control-label">Ilość biletów ulgowych</label>
                <input type="number" min="0" value="0" id="secondDiscountTickets" name="secondDiscountTickets" />
                <div class="discount-type">
                    @Html.DropDownList("secondDiscountType", (List<SelectListItem>)ViewBag.Discount,
              "Rodzaj zniżki", new { @class = "form-control", @id = "secondDiscountType" })
                </div>
            </div>
            <div class="choose-seat" id="thirdDiscountPrice" style="display:none">
                <label class="control-label">Ilość biletów ulgowych</label>
                <input type="number" min="0" value="0" id="thirdDiscountTickets" name="thirdDiscountTickets" />
                <div class="discount-type">
                    @Html.DropDownList("thirdDiscountType", (List<SelectListItem>)ViewBag.Discount,
              "Rodzaj zniżki", new { @class = "form-control", @id = "thirdDiscountType" })
                </div>
            </div>

        </div>
        <div class="choose-seat">
            <input type="button" id="addDiscount" value="Dodaj bilety ze zniżką" />
        </div>
        @*@ <div class="choose-seat">
         <label class="control-label">Wybór klasy wagonu</label>

         @Html.DropDownList("CarriageClass", (List<SelectListItem>)ViewBag.CariageClass,
        "Klasa wagonu", new { @class = "form-control" })

         @*  @Html.ValidationMessage("carriageClassId", new { @class = "text-danger" })*@

        @*   </div>
        <div class="choose-seat">
            <label class="control-label">Wybór typu wagonu</label>

            @Html.DropDownList("CarriageType", (List<SelectListItem>)ViewBag.CariageType,
           "Typ wagonu", new { @class = "form-control" })

            @* @Html.ValidationMessage("carriageTypeId", new { @class = "text-danger" })*@

        @*  </div>
        <div class="choose-seat">
            <label class="control-label">Wybór siedzenia</label>

            @Html.DropDownList("SeatType", (List<SelectListItem>)ViewBag.SeatType,
           "Rodzaj siedzenia", new { @class = "form-control" })

            @@ @Html.ValidationMessage("seatTypeId", new { @class = "text-danger" })*@

        @*    </div>*@

    </div>
    <div class="form-group">
        <input type="submit" value="Przejdź do wyboru miejsca" class="btn btn-primary"/>
    </div>
</form>
    <script>
        $(document).ready(function () {
            $("#addDiscount").click(function () {
                alert("button");

                var firstDiscount = document.getElementById("firstDiscountPrice");
                var secondDiscount = document.getElementById("secondDiscountPrice");
                var thirdDiscount = document.getElementById("thirdDiscountPrice");

                if (firstDiscount.style.display === "none" && secondDiscount.style.display === "none" && thirdDiscount.style.display === "none") {
                    firstDiscount.style.display = "block";
                }
                else if (firstDiscount.style.display === "block" && secondDiscount.style.display === "none" && thirdDiscount.style.display === "none") {
                    secondDiscount.style.display = "block";
                }
                else if (firstDiscount.style.display === "block" && secondDiscount.style.display === "block" && thirdDiscount.style.display === "none") {
                    thirdDiscount.style.display = "block";
                    $("#addDiscount").css("display", "none");
                }
            });
        });
    </script>
