@model TrainSeatReservation.Commons.DisplayItems.RouteView
@{
    ViewData["Title"] = "Searching Result";
}
<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
<div class="row seatsInformation">
    <div class="col-4">
        <p class="freeSeats"><i class="fas fa-users"></i></p>
        <p> Duża dostępność miejsc</p>
    </div>
    <div class="col-4">
        <p class="mediumFree"><i class="fas fa-users"></i></p>
        <p> Średnia dostępność miejsc</p>
    </div>
    <div class="col-4">
        <p class="noFree"><i class="fas fa-users"></i></p>
        <p> Bardzo mała dostępność miejsc</p>
    </div>
</div>
<div class="row ">
    <div class="col-12 "><h3 class="date">@Model.Date.ToShortDateString()</h3></div>
</div>
<div class="row">
    @foreach (var item in Model.Trains)
    {
        if (item.Transits > 0 && item.RouteTransits.Any(x => x.TimeForTransit < TimeSpan.FromMinutes(5)))
            continue;
        <div class="col-12 col-md-6 col-lg-4">
            <div class="train-result">
                <div>
                    <b>@item.StartStation.Name  -</b>
                    <b>@item.EndStation.Name</b>
                </div>
                <div>
                    <b>@item.Route.StartTrainTimeTable.DepartureTime</b>
                    <b>@item.Route.EndTrainTimeTable.ArrivalTime</b>
                </div>
                <div>
                    Czas :  @item.Route.Time
                </div>
                <div class="price">
                    Cena :  @item.Price zł
                </div>
                @if (item.Transits == 0)
                {
                    @item.Train.Name @:&nbsp; @item.Train.Number




                    <div>
                        Dostępne miejsca
                    </div>
                    <div class="@(item.FreeSeats >= 75 ? "freeSeats": (item.FreeSeats>=25 && item.FreeSeats<75) ? "mediumFree" : "noFree")">
                        <i class="fas fa-users"></i>
                    </div>
                }
                else
                {
                    <div>
                        Liczba przesiadek : @item.Transits
                    </div>
                    <div>
                        @item.Train.Name &nbsp; @item.Train.Number

                        <div>
                            Dostępne miejsca
                        </div>
                        <div class="@(item.FreeSeats >= 75 ? "freeSeats": (item.FreeSeats>=25 && item.FreeSeats<75) ? "mediumFree" : "noFree")">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    @foreach (var train in item.RouteTransits)
                    {
                        <div class="col-md-12">
                            @train.Train.Name @train.Train.Number
                            <div>
                                Miejsce przesiadki: @train.Station.Name
                            </div>
                            <div>
                                Czas przesiadki: @train.TimeForTransit
                            </div>
                            <div>
                                Dostępne miejsca
                            </div>
                            <div class="@(item.FreeSeats >= 75 ? "freeSeats": (item.FreeSeats>=25 && item.FreeSeats<75) ? "mediumFree" : "noFree")">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    }

                }
                <div class="reserve-button">
                    <a asp-action="AddOptionalItems" asp-route-id="@item.Train.Id" asp-route-firstStationId="@item.StartStation.Id" asp-route-endStationId="@item.EndStation.Id" asp-route-date="@Model.Date.ToString()" asp-route-routeId="@item.Route.RouteId." asp-route-normalTickets="@Model.NormalTicketsCount" asp-route-discountTypeId="@Model.DiscountTypeId" , asp-route-discountCounter="@Model.DiscountCount" asp-route-transits="@item.RouteTransits ">Zarezerwuj </a>
                </div>

            </div>
        </div>
    }
</div>
@if (Model.Trains.Count() == 0)
{
    <div class="row no-connect">
        <h2>Niestety nie znaleziono żadnego połączenia</h2>
        <div class="previous-button">
            <a asp-action="Index" asp-controller="Home">Wyszukiwarka </a>
        </div>
    </div>
}




