@model TrainSeatReservation.Commons.User;

@using Microsoft.AspNetCore.Identity
@using TrainSeatReservation.Commons
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="personal-data">
    <div class="row">
        <div class="col-6">
            <form asp-action="Summary">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="@user.Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="@user.Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="@user.Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @if (ViewBag.PhoneAllow)
                    {
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="@user.PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    }
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @if (ViewBag.PhoneAllow)
                    {
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    }
                }
                <div class="form-group">
                    <input type="submit" value="Przejdź do podsumowania" class="btn btn-primary" />
                </div>
            </form>
            </div>
        <div class="col-6">
            @if (!SignInManager.IsSignedIn(User))
            {
                <h4>Posiadasz konto?</h4>
                <a class="login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Zaloguj się</a>
            }
            </div>
        </div>
    </div>