<!--Program powstał na Wydziale Informatyki Politechniki Białostockiej-->
@model TrainSeatReservation.Areas.Administration.Models.TrainViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var train = Model.PaginatedTrains().First();
}
<h1>Pociągi</h1>
<p class="add">
    <a asp-action="Create"><i class="fas fa-plus"></i>Dodaj</a>
</p>
<div class="admin-table">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => train.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => train.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => train.Type)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaginatedTrains())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>

        }
    </ul>
</div>